* {
    padding: 0;
    margin: 0;
box-sizing: border-box;
}
nav {
    top: 100px;
    position: fixed;
    width: 100%;
    height: 100px;

}
header {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
video {
    width: auto;
}
header img {
    width: 300px;
}