@font-face{
    font-family: 'lol';
    src: url(../fonts/Graphik_Collection/Graphik_Family/Graphik-Medium-Trial.otf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav {
    padding: 30px 50px;
    z-index: 99;
    left: 0;
    top:0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
}
nav svg {
    width: 150px;
    fill: white;
}
body {
    display: flex;
    flex-direction: column;
}
header {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: black;
}
h1 {
    z-index: 1;
    position: absolute;
    /* font-family: 'BasierSquareMono'; */
    font-family: 'lol';
    font-weight: 400;
    /* font-family: 'circular-std'; */
    left: 5%;
    top: 25%;
    font-size: 100px;
    color: white;
    letter-spacing: 2PX;
}
video {
    opacity: 0.7;
    width: 100%;
}
main {
    width: 100%;
    height: 200vh;
}
